img {
  max-width: 400px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav li {
  margin-right: 15px;
}
nav a:link {
  color: rgb(17, 231, 113);
  padding: 5px;
}
nav a:visited {
  color: rgb(82, 235, 12)
}
nav a:hover {
  color: rgb(236, 170, 241);
  background-color: rgb(118, 125, 226);
  text-decoration: underline;
  box-shadow: 3px 5px;
}
nav a.current {
  color: rgb(233, 15, 186)
}
nav a:active {
  color: rgb(124, 77, 108)
}